*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

}


/******** Header Section **********/
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    box-shadow: 0px 14px 20px -20px rgba(192, 61, 61, 0.45);
    transition: 0.2s;
    height: 8rem;
}

lowerNav {
    display: flex;
    width: 100%;
}

lowerNav li,
lowerNav a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    align-content: center;
}

lowerNav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    width: 100%;
    margin-right: 11%;
}

#navLogo {
    margin-right: auto;
    width: 9%;
}

#navLogo img {
    height: 8rem;
}


lowerNav li {
    padding: 0 2rem;
    font-size: 1.25rem;
    
}


@media only screen and (max-width: 30rem){

    #navLogo {
        display: none;
    }

    header{
        height: 4rem;
    }

    lowerNav ul {
        justify-content: center;
        margin-top: .5rem;
        margin-right: 1%;
    }

    lowerNav a {
        font-size: 1rem;
    }

    lowerNav li {
        text-align: center;
        padding: 0 2rem 0 1rem;
        margin-left: 0;
    }

    lowerNav br {
        display: "";
    }

    
}







/*********** Hero Banner **********/

.hero_banner {
    width: 100%;
}

.hero_banner img{
    width: 100%;
    margin-top: 4rem;
    margin-bottom: -1%;
}







/*********** About Us Section **********/

.aboutUsSection {
    display: inline-flex;
    width: 100%;
}

.aboutUs_1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF465E;
}

.readMore {
    text-align: center;
    padding: 3rem;
    margin: 0 2rem 1rem 2rem;
    background: #FF8D90;
}


.aboutUs_1 h1 {
    margin-bottom: 5%;
    font-size: 3.5rem;
    letter-spacing: .4rem;
    color: white;
    font-family: "Big Shoulders Inline Text", sans-serif;
}

.aboutUs_1 span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: "Montserrat", sans-serif;

}

.aboutUs_1 p {
    margin: 3rem 0 3rem 0;
    color: white;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.readMoreBtn {
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color:#FF8D90;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1% 3%;
    margin-bottom: 2rem;
}

.readMoreBtn a {
    text-decoration: none;
    color:#FF8D90;
}

.aboutUs_2 {
    overflow: hidden;
    width: 50%;
    background-image: url("../Resources/Images/AboutUs_Image_2.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 67.5em){

    .hide-on-mobile {
        display: none;
    }

    .aboutUsSection {
        height: 50%;
    }

    .aboutUs_2 {
        display: none;
    }

    .aboutUs_1 {
        width: 100%;
        padding: 0 10%;
    }

    .aboutUs_1 h1 {
        font-size: 5rem;
        margin-bottom: 3.5%;
        padding-top: 2%;
    }

    .aboutUs_1 span {
        font-size: 2rem;
        width: 100%;
    }

    .aboutUs_1 p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    /* .readMore {
        height: 85%;

    } */

  

}


@media only screen and (max-width: 39em){

    .aboutUs_1 {
        padding: 1rem;

    }

    .aboutUs_1 h1 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .aboutUs_1 span {
        font-size: 1rem;
    }

    .readMore {
      margin: 2rem 0;
      padding: 0 1rem;  
    }

    .aboutUs_1 p {
        font-size: 1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

}

@media only screen and (max-height: 39em){

   
    .readMore {   
        padding-left: .5rem;
        padding-right: .5rem;
    }


    .aboutUs_1 h1 {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        margin: 0;
    }

    .aboutUs_1 p {
        padding-top: 1rem;
        margin: 0;
        margin-bottom: .4rem;
    }

    .readMoreBtn {
        margin-top: 1rem;
        margin-bottom: 0;
    }

}





/*********** Product/Shopping Section **********/

.shopSection {
    width: 100%;
    display: flex;
    padding-top: 2%;
    justify-items: center;
}

.shopSection img {
    width: 90%;
    
}

.productOne{
    text-align: center;
    position: relative;
}

.productOneButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.productOneButton a {
    text-decoration: none;
    color: #F8445D;
}




.productTwo{
    text-align: center;
    position: relative;
}

.productTwoButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.productTwoButton a {
    text-decoration: none;
    color: #F8445D;
}




.productThree {
    text-align: center;
    position: relative;
}

.productThreeButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.productThreeButton a {
    text-decoration: none;
    color: #F8445D;
}




.shopSection h2,
.shopSection section {
    font-family: "Montserrat", sans-serif;
    color: #F8445D;
    padding: 1rem 2rem;
    
}


.shopSection section {
    font-size: 1.25rem;
    padding-bottom: 4rem;
}

.shopSection button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1.5% 2%;
    background-color: #CBEAF5;
    color: #F8445D;

    margin: 0 auto;
}

@media only screen and (max-width: 30em){
    .shopSection {
        display: grid;
    }

    .productTwo {
        padding: 0;
    }

    .productOne,
    .productTwo,
    .productThree {
        margin-top: 1rem;
        box-shadow: 0px -14px 20px -20px rgba(192, 61, 61, 0.45);
    }

}

@media only screen and (max-height: 40em) {
    .shopSection section {
        font-size: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}






/*********** Cocktail Section **********/

.cocktail {
    display: inline-flex;
    width: 100%;
    padding-top: 2rem;
}

.cocktailLeft {
    overflow: hidden;
    width: 50%;
    background-image: url("../Resources/Images/cocktails_section_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.cocktailRight{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    background-color: #F8DCE2;
    color: #F8445D;
   
}

.cocktailRightContent {
    width: 70%;
}

.cocktailRightContent h2 {
    font-family: "Big Shoulders Inline Text", sans-serif;
    font-size: 3.5rem;
    padding-bottom: 5%;
    width: 100%;
}

.cocktailRightContent section {
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.cocktailRightContent button {
    cursor: pointer;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #F8445D;
    padding: 3% 5%;
    background-color: #F6DCE2;
    border: solid;
    border-width: .15rem;
    border-color: #F8445D;
}




.cocktailRightContent a {
    text-decoration: none;
    color: #F8445D;
}

@media only screen and (max-width: 67.5em){


    .cocktailLeft {
        display: none;
    }

    .cocktailRight {
        width: 100%;
        padding: 0 10%;
        display: flex;
        justify-content: center;
    }

    .cocktailRight h2 {
        font-size: 5rem;
        margin-bottom: 2%;
        margin-top: 2%;
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .cocktailRight section {
        font-size: 1.5rem;
        padding: 0;
    }

    .cocktailRightContent {
        padding-top: 0;
        width: 100%;
    }

    .cocktailRight button {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}

@media only screen and (max-width: 30em) {

    .cocktailRight h2 {
        font-size: 4rem;
    }
    
    .cocktailRight section {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 40em){

    .cocktailRight h2 {
        font-size: 3rem;
        padding: 0;
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

    .cocktailRight button {
        padding: .25rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    

}




/********* Social Media Section *********/

.social {
    width: 100%;
}

.socialHeader {
    width: 100%;
}

.social h1 {
    color: #F8445D;
    font-size: 5rem;
    font-family: "Big Shoulders Inline Text", sans-serif;
    letter-spacing: 1rem;
    text-align: center;
    padding: 3% 5%;
    width: 90%;
}

.socialImages {
    display: flex;
    justify-content: center;
    width: 100%;
}

.socialImg {
    padding: 1% 1%;
    height: 65%;
    width: 21%;
}

.socialImg img{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 44em){
    .social h1 {
        font-size: 3rem;
        padding-top: 4%;
        letter-spacing: .3rem;
    }
}



/********* Footer Section *********/

footer {
    display: flex;
    background-color: #CDEAF5;
    margin-top: 4%;
    box-shadow: 0px -14px 20px -20px rgba(192, 61, 61, 0.45);
}



.footerLeft {
    width: 50%;
    padding-left: 5%;
}

.footerLeft ul {
    list-style: none;
    padding-top: 5%;
}

.footerLeft li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerLeft a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(43, 41, 41);
}



.footerRight {
    width: 50%;
    padding-right: 5%;
}

.footerRight ul {
    list-style: none;
    text-align: right;
    padding-top: 5%;
}

.footerRight li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerRight a {
    cursor: pointer;
    text-decoration: none;
    color: #F8445D;
    padding: 1%;
    margin-left: 3%;
    font-size: 2rem;
    border: solid #F8445D;
    border-width: .1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;    
    text-align: center;
}

#socialLinks {
    padding-top: 5%;
    padding-left: 2%;
}

@media only screen and (max-width: 27em){
    footer {
        padding-bottom: 2%;
    }

    .footerRight ul {
        padding-top: 1%;
    }

    .footerRight li {
        padding-top: 8%;
    }

    .footerLeft li {
        font-size: 1rem;
        padding-top: 3%;
    }
}



/********* Footer Base Section *********/

.footerBase {
    display: flex;
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #CDEAF5;
}


.footerBaseLeft{
    width: 50%;
    padding-left: 5%;
    display: flex;
}

.footerBaseLeft span {
    align-self: flex-end;
}


.footerBaseRight {
    width: 50%;
    padding-right: 5%;
    display: inline;
    justify-content: end;
}

.footerBaseRight ul {
    text-align: right;
    list-style: none;
}

.footerBaseRight li {
    display: inline;
    padding-left: 2%;
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
}

.footerBaseRight a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 42em){
     .footerBase{
        display: block;
        border-top: .1rem solid black;

     }

     .footerBaseLeft{
        width: 100%;
        padding: 0;
     }

     .footerBaseLeft span {
        margin: 0 auto;
        padding: 0 5.5%;
     }

     .footerBaseRight {
        width: 100%;
        padding: 0;
     }

     .footerBaseRight ul {
        padding-top: 1rem;
        text-align: center;
     }
}
