*{
    margin: 0;
    padding: 0;
    
}

/*Logo*/

header {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 1rem;
}

header img {
    width: 15%;
}


/*Welcome && Disclaimer*/

.welcome {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "Big Shoulders Inline Text", sans-serif;
    letter-spacing: .5rem;
    margin-top: 2rem;
}

section {
    text-align: center;
    word-wrap: break-word;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    transform: translateX(20%);
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

section a {
    color: black;
}


/*Birthdate Entry Inputs && Submit Button*/

.ageForm {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: .5%;
}

.ageInput{
    padding-left: .25rem;
    padding-right: .25rem;
    height: 3rem;
    width: 6rem;
    margin: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#ageSubmit {
    font-size: .9rem;
    height: 3.25rem;
    width: 9rem;
}



@media(max-width: 770px){

    section{
        width: 100%;
        transform: translateX(0);
    }

    .ageForm {
        margin-bottom: 2%;
    }

  

    #ageSubmit {
        flex-basis: 100%;
        margin: 0 10% 0 10%;
    }

}

@media(max-width: 400px){

    .ageForm {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 4;
        justify-items: center;
    }

    .ageInput {
        width: 75%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #ageSubmit {
        margin-top: 3%;
    }
}











/********* Footer Section *********/

footer {
    display: flex;
    background-color: #CDEAF5;
    margin-top: 4%;
    box-shadow: 0px -14px 20px -20px rgba(192, 61, 61, 0.45);
}



.footerLeft {
    width: 50%;
    padding-left: 5%;
}

.footerLeft ul {
    list-style: none;
    padding-top: 5%;
}

.footerLeft li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.footerRight {
    width: 50%;
    padding-right: 5%;
}

.footerRight ul {
    list-style: none;
    text-align: right;
    padding-top: 5%;
}

.footerRight li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerRight a {
    cursor: pointer;
    text-decoration: none;
    color: #F8445D;
    padding: 1%;
    margin-left: 3%;
    font-size: 2rem;
    border: solid #F8445D;
    border-width: .1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;    
    text-align: center;
}

#socialLinks {
    padding-top: 5%;
    padding-left: 2%;
}

@media only screen and (max-width: 27em){
    footer {
        padding-bottom: 2%;
    }

    .footerRight ul {
        padding-top: 1%;
    }

    .footerRight li {
        padding-top: 8%;
    }

    .footerLeft li {
        font-size: 1rem;
        padding-top: 3%;
    }
}



/********* Footer Base Section *********/

.footerBase {
    display: flex;
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #CDEAF5;
}


.footerBaseLeft{
    width: 50%;
    padding-left: 5%;
    display: flex;
    text-decoration: underline;
}

.footerBaseLeft span {
    align-self: flex-end;
    
}


.footerBaseRight {
    width: 50%;
    padding-right: 5%;
    display: inline;
    justify-content: end;
}

.footerBaseRight ul {
    text-align: right;
    list-style: none;
}

.footerBaseRight li {
    display: inline;
    padding-left: 2%;
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
}

.footerBaseRight a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 42em){
     .footerBase{
        display: block;
        border-top: .1rem solid black;

     }

     .footerBaseLeft{
        width: 100%;
        padding: 0;
     }

     .footerBaseLeft span {
        margin: 0 auto;
        padding: 0 5.5%;
     }

     .footerBaseRight {
        width: 100%;
        padding: 0;
     }

     .footerBaseRight ul {
        padding-top: 1rem;
        text-align: center;
     }
}






