*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/********vv Header Section vv**********/
header{
    height: 14rem;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    box-shadow: 0px 14px 20px -20px rgba(192, 61, 61, 0.45);
    transition: 0.2s;
}


upperNav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 2%;
}

upperNav span {
    color: #F8445D;
}


upperNav li,
upperNav a,
lowerNav li,
lowerNav a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

lowerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1% auto;
}

lowerNav li {
    padding: 0 2rem;
    font-size: 1.25rem;
    
}

@media only screen and (min-width: 67em){
    header {
        height: 16rem;
    }
    

}

@media only screen and (max-width: 30rem){


    #navLogo {
        margin: 0 auto;
    }

    upperNav ul {
        margin: 0;
    }

    lowerNav ul {
        justify-content: center;
        margin-top: 1rem;
        margin-right: 1%;
    }

    lowerNav a {
        font-size: 1rem;
    }

    lowerNav li {
        text-align: center;
        padding: 0 2rem 0 1rem;
        margin-left: 0;
    }

    lowerNav br {
        display: "";
    }

   
    
}


/***********^^ Header Section ^^************/





/***********vv Main Hero Banner vv**********/

.hero_banner img{
    width: 100%;
    margin-top: 14rem;
    margin-bottom: -1%;
}

@media only screen and (max-width: 30rem){

    .hero_banner {
        display: none;
    }

}



/***********^^ Main Hero Banner ^^**********/





/***********vv Shopping Section vv**********/

.shopSection {
    width: 100%;
    display: flex;
    padding-top: 2%;
    justify-items: center;
}

.shopSection img {
    width: 95%;
    
}

.productOne{
    text-align: center;
    position: relative;
    
}

.productOneBtn1 {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}


.productOneBtn2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}



.productTwo{
    text-align: center;
    position: relative;
  
}

.productTwoBtn1 {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

.productTwoBtn2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}



.productThree {
    text-align: center;
    position: relative;
    
}

.productThreeBtn1 {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

.productThreeBtn2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#btn {
    text-decoration: none;
    color: #F8445D;
}





.shopSection h2,
.shopSection section {
    font-family: "Montserrat", sans-serif;
    color: #F8445D;
    padding-top: .5rem;
    padding-bottom: 1rem;
}


.shopSection section {
    font-size: 1.25rem;
    padding-bottom: 6rem;
    width: 95%;
    padding-top: 0;
    margin: 0 auto;
}

.shopSection button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1.5% 7%;
    background-color: #CBEAF5;
    color: #F8445D;
    margin: 0 auto;
}

@media only screen and (max-width: 30em){
    .shopSection {
        padding-top: 14rem;
        display: grid;
    }

    .productTwo {
        padding: 0;
    }

    .productOne,
    .productTwo,
    .productThree {
        margin-top: 1rem;
        box-shadow: 0px -14px 20px -20px rgba(192, 61, 61, 0.45);
    }

}

@media only screen and (max-height: 40em) {
    .shopSection section {
        font-size: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/***********^^ Shopping Section ^^**********/


/***********vv Footer Section vv**********/

footer {
    display: flex;
    background-color: #CDEAF5;
    margin-top: 4%;
    box-shadow: 0px -14px 20px -20px rgba(192, 61, 61, 0.45);
}



.footerLeft {
    width: 50%;
    padding-left: 5%;
}

.footerLeft ul {
    list-style: none;
    padding-top: 5%;
}

.footerLeft li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerLeft a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(43, 41, 41);
}



.footerRight {
    width: 50%;
    padding-right: 5%;
}

.footerRight ul {
    list-style: none;
    text-align: right;
    padding-top: 5%;
}

.footerRight li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerRight a {
    cursor: pointer;
    text-decoration: none;
    color: #F8445D;
    padding: 1%;
    margin-left: 3%;
    font-size: 2rem;
    border: solid #F8445D;
    border-width: .1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;    
    text-align: center;
}

#socialLinks {
    padding-top: 5%;
    padding-left: 2%;
}

@media only screen and (max-width: 26.25em){
    footer {
        padding-bottom: 2%;
    }

    .footerRight ul {
        padding-top: 1%;
    }

    .footerRight li {
        padding-top: 8%;
    }

    .footerLeft li {
        font-size: 1rem;
        padding-top: 3%;
    }
}



.footerBase {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #CDEAF5;
}


.footerBaseLeft{
    width: 50%;
    padding-left: 5%;
    display: flex;
}

.footerBaseLeft span {
    align-self: flex-end;
    text-decoration: underline;
}


.footerBaseRight {
    width: 50%;
    padding-right: 5%;
    display: inline;
    justify-content: end;
}

.footerBaseRight ul {
    text-align: right;
    list-style: none;
}

.footerBaseRight li {
    display: inline;
    padding-left: 2%;
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
}

.footerBaseRight a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 42em){
     .footerBase{
        display: block;
        border-top: .1rem solid black;

     }

     .footerBaseLeft{
        width: 100%;
        padding: 0;
     }

     .footerBaseLeft span {
        margin: 0 auto;
        padding: 0 5.5%;
     }

     .footerBaseRight {
        width: 100%;
        padding: 0;
     }

     .footerBaseRight ul {
        padding-top: 1rem;
        text-align: center;
     }
}