*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/********vv Header Section vv**********/
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    box-shadow: 0px 14px 20px -20px rgba(192, 61, 61, 0.45);
    transition: 0.2s;
}


upperNav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 2%;
}

upperNav span {
    color: #F8445D;
}

upperNav li,
upperNav a,
lowerNav li,
lowerNav a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

lowerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1% auto;
}

lowerNav li {
    padding: 0 2rem;
    font-size: 1.25rem;
    
}

@media only screen and (min-width: 67em){
    header {
        height: 16rem;
    }
    

}

@media only screen and (max-width: 30rem){

 
    #navLogo {
        margin: 0 auto;
    }

    upperNav ul {
        margin: 0;
    }

    lowerNav ul {
        justify-content: center;
        margin-top: 1rem;
        margin-right: 1%;
    }

    lowerNav a {
        font-size: 1rem;
    }

    lowerNav li {
        text-align: center;
        padding: 0 2rem 0 1rem;
        margin-left: 0;
    }

    lowerNav br {
        display: "";
    }

    
}


/***********^^ Header Section ^^************/




.grid_container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 10rem 1fr 1fr;
}

.gentian-image {
    margin-top: 14rem;
    padding-top: 8rem;
    justify-self: center;
    align-self: center;
}

img {
    width: 100%;
}


#product-info {
    margin-top: 14rem;
    padding-top: 8rem;
    justify-self: start;
    width: 100%;
}

#product-info h2 {
    font-size: 3rem;
    font-family: "Big Shoulders Inline Text", sans-serif;
    padding-bottom: .5rem;
}

#product-info section {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

#product-info button {
    font-size: 1.75rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    color: #F8445D;
    background-color: #F6DCE2;
    border: none;
}

#product-info button:hover {
    cursor: pointer;
    font-weight: bold;
}

#product-info p {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    padding: 1rem 0;
    line-height: 1.75rem;
    border-top: solid .1rem grey;
}

#product-info a {
    text-decoration: none;
    color: #F8445D;
}

.dryvermouth-image {
    justify-self: center;
    padding-top: 11rem;
}

.dryvermouth-info {
    margin-top: 5rem !important;
}

.sweetvermouth-info {
    margin-top: 5rem !important;
}

.sweetvermouth-image{
    padding-top: 13rem;
    justify-self: center;
    align-self: center;
}


@media only screen and (max-width: 30rem){
    .grid_container {
        grid-template-columns: 1fr;
    }

    #product-info {
        margin: 0;
        padding: 0;
    }

    #product-image img{
        width: 100%
    }

    #product-info {
        text-align: center;
    }

    #product-image {
        padding-top: 5rem;
    }
}

@media only screen and (max-height: 30rem) {
    .grid_container {
        grid-template-columns: 1fr 1fr;
    }

    .hide-on-landscape {
        display: none;
    }
}






footer {
    display: flex;
    background-color: #CDEAF5;
    margin-top: 4%;
    box-shadow: 0px -14px 20px -20px rgba(192, 61, 61, 0.45);
}



.footerLeft {
    width: 50%;
    padding-left: 5%;
}

.footerLeft ul {
    list-style: none;
    padding-top: 5%;
}

.footerLeft li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerLeft a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(43, 41, 41);
}



.footerRight {
    width: 50%;
    padding-right: 5%;
}

.footerRight ul {
    list-style: none;
    text-align: right;
    padding-top: 5%;
}

.footerRight li {
    padding-bottom: 3%;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.footerRight a {
    cursor: pointer;
    text-decoration: none;
    color: #F8445D;
    padding: 1%;
    margin-left: 3%;
    font-size: 2rem;
    border: solid #F8445D;
    border-width: .1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;    
    text-align: center;
}

#socialLinks {
    padding-top: 5%;
    padding-left: 2%;
}

@media only screen and (max-width: 27em){
    footer {
        padding-bottom: 2%;
    }

    .footerRight ul {
        padding-top: 1%;
    }

    .footerRight li {
        padding-top: 8%;
    }

    .footerLeft li {
        font-size: 1rem;
        padding-top: 3%;
    }
}



.footerBase {
    display: flex;
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #CDEAF5;
}


.footerBaseLeft{
    width: 50%;
    padding-left: 5%;
    display: flex;
}

.footerBaseLeft span {
    align-self: flex-end;
}


.footerBaseRight {
    width: 50%;
    padding-right: 5%;
    display: inline;
    justify-content: end;
}

.footerBaseRight ul {
    text-align: right;
    list-style: none;
}

.footerBaseRight li {
    display: inline;
    padding-left: 2%;
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
}

.footerBaseRight a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 42em){
     .footerBase{
        display: block;
        border-top: .1rem solid black;

     }

     .footerBaseLeft{
        width: 100%;
        padding: 0;
     }

     .footerBaseLeft span {
        margin: 0 auto;
        padding: 0 5.5%;
     }

     .footerBaseRight {
        width: 100%;
        padding: 0;
     }

     .footerBaseRight ul {
        padding-top: 1rem;
        text-align: center;
     }
}
